@page
@model moment1._2.AboutModel
@{
    ViewData["Title"] = "Om";
}

<h1>Om</h1>
<p>Hej, jag heter Selma Kohnic och är 23, snart 24 år gammal. Är bosatt i en liten stad i Småland kallad Nybro.
    Sedan tidigare har jag en kanidatexamen inom interaktionsdesign men just nu studerar jag till webbutvecklare
    på Mittuniversitet. På fritiden gillar jag att umågs med familj och vännger, gå på långa promenader med min 
    bichon frisé Mickey,titta på filmer och serier och att skapa illustrationer som jag lägger ut på min designinstagram.</p>