@page
@model moment1._2.indexModel
@{
    ViewData["Title"] = "Startsida";
}

<h1>Moment 1.2 – Grunderna i ASP.NET Core</h1>
<p>I den här uppgiften skapas en webbplats med Razor.</p>

<h3>Razor</h3>
<p>Razor är ett språk som används inom ASP.NET Core, vars syfte är att möjliggöra
skapandet av dynamiska webbsidor. Språket utvecklades av Microsoft och
lanserades för första gången år 2010 <sup>[1]</sup>. För att använda Razor skrivs först @@
och därefter måsvingar {….} med kod innanför. Språket är baserat på C# och
kombineras ofta med HTML-kod. Det är inte nödvändigt att på något speciellt
sätt inkludera HTML-koden utan den kan skrivas direkt i samband med resterande
C#-kod <sup>[2]</sup>. Med Razor går det att skapa variabler. Detta antingen genom
att ange en specifik datatyp i deklarationen av en variabel eller genom användningen
av ”var”. Det går också bra att skapa funktioner, loopar (till exempel
foreach, while och do-while), if-satser och switchar <sup>[3]</sup>.</p>

<div id="sources">
    <i>Källor:</i>
    <ol>
        <li>
            Wikipedia. ”ASP.NET Razor”.
            https://en.wikipedia.org/wiki/ASP.NET_Razor. Uppdaterad 2020-01-06.
            Hämtad 2020-01-21
        </li>
        <li>
            Learn Razor Pages. ”Razor syntax”.
            https://www.learnrazorpages.com/razor-syntax. Uppdaterad 2019-11-07.
            Hämtad 2020-01-21
        </li>
        <li>
            L. Lundin & M. Dahlgren. DT102G – ASP.NET med C#: Föreläsning,
            Kursintroduktion och grunderna i ASP.NET Core; Mittuniversitetet,
            2020-01-20
        </li>
    </ol>
</div>

