@page
@model moment1._2.RazorModel
@{
    ViewData["Title"] = "Razor";

    //Dagens datum och tid
    var date = DateTime.Now;

    //Dag i veckan
    var day = date.DayOfWeek;

    //Lista med kurser
    List<string> courses = new List<string> {
        "DT057G, Webbutveckling I",
        "DT084G, Introduktion till programmering i JavaScript",
        "DT163G, Digital bildbehandling för webb",
        "GD008G, Typografi och form för webb",
        "DT003G, Databaser",
        "DT093G, Webbutveckling II",
        "DT068G, Webbanvändbarhet",
        "DT152G, Webbdesign för CMS",
        "DT173G, Webbutveckling III",
        "IK060G, Projektledning",
        "DT162G, JavaScriptbaserad webbutveckling",
        "DT071G, Programmering i C#.NET"};
}

<h1>Razor</h1>
<p>Datum/klockslag: @date</p>

@if ((int) day == 1)
{
    <p>Idag är det måndag!</p>
}
else
{
    <p>Idag är det inte måndag!</p>
}

<p>Kurser jag har läst:</p>
<ul>
    @foreach(string c in courses)
    {
        <li>@c</li>
    }
</ul>
